@use "sass:map";
@import "variables.module";
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*html,body{
  overflow: hidden;
}*/

html {
  scroll-behavior: smooth;
}

body {
  transition: background 0.5s;
}

/****** Scrollbar styling ******/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: map-get($map: $purple, $key: "1000");
}

::-webkit-scrollbar-thumb:hover {
  background: map-get($map: $purple, $key: "800");
}


header {
  position: fixed;
  transition: background 0.5s;
  z-index: 2;
  top: 0;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100dvh;
    img{
      height: 2rem;
      transform: rotate(90deg);
    }
    ul {
      height: 80dvh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      li {
        display: block;
        margin: 0;
        writing-mode: vertical-rl;

        a {
          text-decoration: none;
          cursor: pointer;
          font-family: "Blackpast DEMO",sans-serif;
          position: relative;
          font-size: 17px;
        }

        a::before {
          content: "";
          position: absolute;
          left: -6px;
          background: map-get($map: $purple, $key: "1000");
          height: 100%;
          border-radius: 6px;
          width: 3px;
          transform: scaleY(0);
          transition: transform 0.5s;
        }

        a:hover::before {
          transform: scaleY(1);
        }

        .active::before {
          content: "";
          position: absolute;
          left: -6px;
          background: map-get($map: $purple, $key: "1000");
          height: 100%;
          border-radius: 6px;
          width: 3px;
          transform: scaleY(1);
          transition: transform 0.5s;
        }
      }
    }
  }
}

main {
  overflow: hidden;
  section {
    height: 100dvh;
    padding: 20px 0 2% 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    //scroll-snap-align: start;
    .chip {
      background-color: map.get($purple, "200");
      display: flex;
      align-items: center;
      padding: 10px 35px 10px 20px;
      width: fit-content;
      gap: 20px;
      border-radius: 20px;

      img {
        height: 35px;
      }

      h5 {
        font-size: 20px;
        font-family: "Sen",sans-serif;
        font-weight: 600;
        color: map-get($map: $purple, $key: "1000");
      }
    }

    article {
      height: fit-content;
    }
  }

  #home {
    display: flex;
    justify-content: center;
    article {
      img {
        width: 100%;
      }

      h2 {
        font-size: 40px;
      }

      .name{
        display: grid;
        place-items: center;
      }

      h1 {
        font-size: 45px;
        padding: 0;

        .job{
          overflow: hidden;
          height: 50px;
          ul{
            width: fit-content;
            text-align: center;
            list-style: none;
            -webkit-animation-name: change;
            -webkit-animation-duration: 5s;
            -webkit-animation-iteration-count: infinite;
            animation-name: change;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            li{

            }
          }
        }
      }
      @keyframes change {
        0%, 12.66% ,100%{transform:translate3d(0,0,0);}
        33.32%,45.98% , 66.64%,79.3%{transform:translate3d(0,-50%,0);}
      }
    }
  }

  #about {
    height: 100%;

    article {
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        //-moz-column-width: 100%;
      }
    }
  }

  #skills {
    article {
      display: grid;
      gap: 30px 0;

      h4 {
        font-family: "Inter",sans-serif;
        color: map.get($grey, "light");
      }

      .technologies {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        img {
          height: 50px;
          flex: 1;
        }
      }
    }
  }

  #projects {
    width: 100%;
    height: 100%;

    article {
      .projects {
        .swiper {
          width: 100%;
          margin-bottom: 30px;

          .swiper-slide {
            .card {
              text-align: center;
              border-radius: 5px;
              border: 1px solid map-get($map: $purple, $key: "500");
              padding: 20px 10px;
              width: 200px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: 20px;

              h3 {
                font-size: 15px;
              }

              .techs-date {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .used-techs {
                  display: flex;

                  img {
                    width: 35px;
                  }
                }

                .date {
                  font-size: 13px;
                  color: map-get($map: $grey, $key: "light");
                }
              }

              .project-img {
                width: 200px;
                height: 120px;
                border-radius: 5px;
              }

              a {
                place-self: end;
                gap: 15px;

                svg {
                  margin-left: -20px;
                  transition: margin 0.5s;
                  visibility: hidden;
                }
              }

              :hover {
                transition: all 0.5s;

                svg {
                  margin-left: 0;
                  transition: all 0.5s;
                  visibility: visible;
                }
              }
            }
          }
        }
      }
    }
  }

  #contact {
    height: 100%;

    .chip {
      margin-bottom: 50px;
    }

    article {
      h4 {
        font-family: "Sen",sans-serif;
        font-size: 30px;
      }

      img {
        width: 70%;
        margin-top: 10px;
      }

      form {
        margin-top: 30px;
      }

      .info-box {
        display: flex;
        flex: 1;
        align-items: center;
        gap: 5%;

        .info-box-icon {
          height: 40px;
          width: 40px;
          display: grid;
          place-items: center;
          border-radius: 8px;
          background-color: $white;

          svg {
            color: map-get($map: $purple, $key: "1000");
            height: 15px;
            width: 15px;
          }
        }

        .light {
          background-color: map-get($map: $purple, $key: "200");
        }

        h4 {
          text-align: start;
          font-size: 15px;
        }

        p {
          color: map-get($map: $grey, $key: "light");
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 390px) {
  main {
    #contact {
      article {
        .info-box {
          .info-box-icon {
            height: 50px;
            width: 50px;
          }

          .info-box-title {
            font-size: 17px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }

    #projects {
      width: 100%;
      height: 100%;

      article {
        .projects {
          .swiper {
            .swiper-slide {
              .card {
                width: 250px;

                h3 {
                  font-size: 18px;
                }

                .techs-date {
                  .used-techs {
                    img {
                      width: 40px;
                    }
                  }
                }

                .project-img {
                  width: 250px;
                  height: 160px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    section {
      height: 100dvh;
    }

    #about {
      height: 100dvh;
    }
  }
}

@media screen and (min-width: 850px) {
  body {
    padding: 0;
  }

  .Toastify__toast {
    width: 100%;
    margin: 0;
  }

  header {
    position: fixed;
    width: 100%;

    //height: 10rem;
    nav {
      display: grid;
      place-items: center;
      grid-template-columns: repeat(2, auto);
      height: fit-content;
      img{
        height: 3rem;
        transform: rotate(360deg);
      }
      ul {
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        padding: 30px 0;
        grid-column: 2;
        gap: 40px;

        li {
          display: block;
          margin: 0;
          writing-mode: horizontal-tb;

          a::before {
            left: 0;
            bottom: -6px;
            height: 3px;
            width: 100%;
            transform: scaleX(0);
          }

          a:hover::before {
            transform: scaleX(1);
          }

          .active::before {
            left: 0;
            bottom: -6px;
            height: 3px;
            width: 100%;
            transform: scaleX(1);
          }
        }
      }

      button {
        place-self: center start;
      }
    }
  }

  main {
    section {
      height: 100vh;
      width: fit-content;
      margin: auto;

      .chip {
        margin: 100px auto 0 auto;

        img {
          height: 40px;
        }

        h5 {
          font-size: 25px;
        }
      }
    }

    #home {
      article {
        .name{
          place-items: start;
          margin: 1rem 0;
        }
        svg{

        }
        h1{
          font-size: 50px;
          .job{
            ul{
              text-align: left;
            }
          }
        }
      }
    }

    #about {
      height: 100%;
      padding: 30px 0;
      article {
        img {
          width: 40%;
        }

        p {
          font-size: 1.2rem;

        }

        button {
          font-size: 18px;
        }
      }
    }

    #projects {
      height: 100vh;
      article {
        height: 100%;
        .projects {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .swiper {
            .swiper-slide {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }

    #contact {
      height: 100%;
      padding: 25px 0;
      article {
        img {
          width: 500px;
          margin-top: 0;
        }

        form {
          margin-top: 0;
        }

        .info-box {
          justify-content: center;
          .info-box-icon {
            height: 60px;
            width: 60px;
          }

          h4 {
            font-size: 17px;
          }

          p {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  main {
    #home {
      article {
        h1 {
          font-size: 70px;
          .job{
            height: 80px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  main {
    #about {
      article {
        p {
          font-size: 1.7rem;
          line-height: 50px;
        }
      }
    }

    #projects {
      article {
        .projects {
          .swiper {
            .swiper-slide {
              .card {
                width: 350px;
                padding-block: 40px;

                h3 {
                  font-size: 25px;
                }

                .techs-date {
                  .used-techs {
                    img {
                      width: 40px;
                    }
                  }
                }

                .project-img {
                  width: 350px;
                  height: 220px;
                }
              }
            }
          }
        }
      }
    }
  }
}



